* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

 :root {
    --font-main: rgb(15, 15, 15);
    --font-secondary: rgb(230, 230, 230);
    --background-main: #E89BC2;
}

.body {
    font-family: 'Poppins', sans-serif;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 100vh;
}

.header .navbar {
    background-color: var(--background-main);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    z-index: 2;
    height: 100%;
}

.header .navbar .toggle {
    width: 24px;
    height: 24px;
    color: var(--font-main);
    cursor: pointer;
}

.header .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 7em;
}

.header .navbar ul li {
    list-style: none;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    text-align: center;
}

.header .navbar ul li a {
    text-decoration: none;
    color: var(--font-main);
}

.header .content {
    background-color: #DBDBDA;
    height: 100%;
    width: 100vw;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.header .content img {
    width: 90%;
    height: 90%;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-47%, -45%);
    transform: translate(-47%, -45%);
}

.header .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header .main .content-1 {
    width: 4em;
    height: 4em;
    position: absolute;
    right: 0;
    background: var(--background-main);
}

.header .main .content-1 .search {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    color: var(--font-main);
}

.header .main .content-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: 8em;
    margin-left: 5em;
    max-width: 23em;
}

.header .main .content-2 h1 {
    text-transform: uppercase;
    font-size: 3.5rem;
    line-height: 1em;
    letter-spacing: 0.1em;
}

.header .main .content-2 .sub-content-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 2.5em;
}

.header .main .content-2 .sub-content-2 .line {
    height: 4px;
    width: 8em;
    background-color: var(--font-main);
    margin-right: 1em;
}

.header .main .content-2 .sub-content-2 h4 {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .20em;
}

.header .main .content-2 p {
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.7em;
}

.header .main .content-2 button {
    margin-top: 1.5em;
    background-color: black;
    width: 70%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    border: none;
    cursor: pointer;
}

.header .main .content-2 button p {
    font-family: 'Poppins', sans-serif;
    padding: 1em 2em 1em 2em;
    letter-spacing: 0.5em;
    font-size: 0.7rem;
    color: var(--font-secondary);
}

.header .main .content-3 {
    background-color: var(--background-main);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2em;
}

.header .main .content-3 p {
    padding: 2em 3em 0 3em;
}

.header .main .content-3 .sub-content-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 3em 0 3em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header .main .content-3 .sub-content-3 .line {
    height: 2px;
    width: 1.5em;
    background-color: var(--font-main);
    margin-right: 0.3em;
    border: none;
}

.header .main .content-3 .sub-content-3 h4 {
    font-weight: 400;
}


/* Penyesuaian dengan fungsi React lainnya*/

.welcome {
    margin: 2em 0;
    text-align: center;
}

.login {
    text-align: center;
    align-items: center;
}

.button {
    margin-left: 0.5em;
    padding: 0.5em 2em;
    border-radius: 15px;
    font-family: 'Poppins';
    background: var(--background-main);
    justify-content: center;
    border: none;
    cursor: pointer;
}

.button-2 {
    margin-left: 0.5em;
    margin-bottom: 2em;
    padding: 0.5em 2em;
    border-radius: 15px;
    font-family: 'Poppins';
    background: var(--background-main);
    text-align: center;
    border: none;
    cursor: pointer;
}