.login-p {
    margin-top: 2em;
    text-align: center;
}

.login-p-dua {
    padding-top: 0.5em;
}

.login-insert {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.login-card {
    border-style: solid;
    border-color: rgb(192, 192, 192);
    text-align: center;
    width: 365px;
    justify-content: center;
    margin: auto;
    margin-bottom: 3em;
    padding-bottom: 2em;
}

.username-box {
    height: 25px;
    margin-left: 1em;
}

.username {
    display: flex;
    margin: 0.5em 1em -0.5em 1em;
    align-items: center;
}

.password-box {
    height: 25px;
    margin-left: 1em;
}

.password {
    display: flex;
    margin: -0.5em 1em 0 1em;
    align-items: center;
}

.login-accept {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.button-login {
    width: 300px;
    background-color: rgb(0, 233, 0);
    border: none;
    height: 40px;
    border-radius: 10px;
    color: white;
    margin-bottom: 1em;
}

.checkbox {
    margin: 5px 5px 0px 0px;
}

.remember-me {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: -1.5em;
    margin-bottom: -0.3em;
}

.cancel {
    padding: 0.5em 1.5em 0.5em 1.5em;
    border-color: rgb(187, 187, 187);
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
}